*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: "Poppins", sans-serif;
}

/* Header Styles */
  .header-box{
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    border-radius: 3rem;
    height: 3rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .logo-image{
    width: 80px;
    vertical-align: middle;
  }
  .nav-list{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }
  .pages{
    text-decoration: none;
    color: black;
    
  }
  body{
    background-image : url(/img/background_for_nova.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .donate-button{
    color: black;
    text-decoration: none;
    background-color: rgba(151, 80, 214, 0.5);
    height: 30px;
    width: 100px;
    border-radius: 2rem;
    border: none;
    font-weight: 500;
    font-size: 14px;
    transition: all ease-in-out 0.4s;
  }
  .donate-button:hover{
    color: white;
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    .header-box{
      flex-direction: column;
      height: auto;
      gap: 1rem;
    }
    .nav-list{
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-container{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  flex-direction: column;
}

.hero-header{
  font-size: 70px;
  color: rgba(0, 0, 0, 0.8);
  width: 70%;
  margin: 3rem auto;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: 1px;
}
.hero-subheader{
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.cta-for-hero-page{
  color:  rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
  height: 50px;
  text-decoration: none;
  padding: 0.9rem 1.5rem;
  font-size: 16px;
  border-radius: 2rem;
  margin: 2rem auto;
  display: inline-block;
  font-weight: 500;
  transition: all ease-in-out 0.4s;
}
.cta-for-hero-page:hover{
 transform: scale(1.1);
 color: rgb(151, 80, 214);
}
.about-nova{
  background-image: url(/img/ScreenShot\ Tool\ -20260112232546.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.about-header{
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  padding-top: 4rem;
}
.coloured-header{
  color: rgba(151, 80, 214);
}
.about-subheader{
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  width: 60%;
  margin: 0 auto 3rem auto;
  text-align: center;
}
.about-container{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-left: 3rem;
  padding-top: 2rem;
}
.about-nova-image{
  width: 600px;
  border-radius: 1rem;
}
.about-container-header{
  font-size: 36px;
  padding-bottom: 16px;
  vertical-align: middle;
}
.about-nova-pargraph{
  font-size: 208px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: red;
}
.sub{
  font-size: 36px;
}
.about-box{
  display : flex;
  justify-content: space-between;
}
.box{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px, solid black;
}