*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* EVENTS PAGE */
  .events-section{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .event-container{
    display: flex;
    flex-direction: column;
    margin: 10rem 6rem 4rem 6rem;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background-color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 2rem;
  }
  .events-page{
    background-image: url("/img/ScreenShot\ Tool\ -20260112232546.png");
  }
  .event-calendar{
    background-color: rgb(255, 205, 30);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 2rem auto 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .event-calendar i{
    font-size: 60px;
    text-align: center;
  }
  .event-box-header{
    font-size: 32px;
  }
  .event-box-paragraph{
    font-size: 18px;
    width: 70%;
    margin: 1rem auto 2rem auto;
  }

/* JOIN US PAGE */
.join-us-section{
  text-align: center;
  background-image: url(../img/ScreenShot\ Tool\ -20260112232546.png);
}
.join-us-header{
  font-size: 48px;
  margin-top: 10rem;
}

.join-us-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  gap: 3rem;
  row-gap: 3rem;
  column-gap: 3rem;
  padding-bottom: 4rem;
  margin: 2rem 2rem 0rem 2rem; ;
}
.join-box{
  padding: 2rem;
  height: 350px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  transition: all ease-in-out 0.3s;
}

.wrapper{
  transition: all ease-in-out 0.3s;
}
.wrapper:hover, .join-image-holder{
  transform: translateY(-4px) translateX(4px);
}

.join-image-holder{
  width: 100px;
  height: 100px;
  border-radius: 20%;
  display: flex;
  margin-bottom: 1rem;
}
.join-box-icon{
  font-size: 50px;
  color: white;
  margin:auto; 
  transition: all ease-in-out 0.4s;
}
.join-box-header{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.join-box-information{
  margin-bottom: 1rem;
}
.join-cta-button{
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: none;
  font-size: 14px;
  vertical-align: middle;
  font-weight: 500;
}

.join-cta-button:hover{
  transform: translateY(-4px) translateX(2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.join-cta-button a{
  text-decoration: none;
  color: inherit;
}